body {
    background: linear-gradient(to right, #012F5A, white, #012F5A) no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #303030;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Garamond', Georgia,'Times New Roman', Times, serif;
    
}

h2 {
    font-size: 28px;
    line-height: 1.28;
    letter-spacing: -1px;
}

h3 {
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: -1px;
}

p,
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 1.5;
}

a {
    color: #2c83b0;
}

.btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    display: block;
    width: auto;
    padding: 0 24px;
    max-width: 140px;
    height: 28px;
}

.btn-primary {
    background: linear-gradient(to bottom, #6eb3d6, #45809e);
    border: none;
    box-shadow: 0 1px 1px #111214;
}

.btn-primary:hover {
    box-shadow: none;
}

.btn-primary:active,
.btn-primary:focus {
    outline: none;
    border: 1px solid #45809e;
    line-height: 26px;
    box-shadow: none;
}

/*  Navigation */
.navbar {
    background: #111213;
    padding: 30px 15px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.nav-item {
    flex: 0 0 auto;
    margin-right: 15px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
}

/* Search */
.search-box {
    position: relative;
    max-width: 124px;
    margin-bottom: 20px;
}

.search-box input {
    border-radius: 50px;
    padding: 0px 18px;
    line-height: 18px;
    height: 18px;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: transparent;
}

.btn.btn-search {
    padding: 0;
    position: absolute;
    background-image: url(../img/search_icon.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    top: 2px;
    left: 2px;
    bottom: 0;
    height: 14px;
    width: 14px;
}

span.highlight {
    background-color: pink;
    
}

/* Social icons */
.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.social-icons li {
    float: left;
}

.icon {
    display: block;
    background-image: url(../img/icons.png);
    height: 51px;
    width: 51px;
    border-radius: 50%;
    overflow: hidden;
    background-color: pink;
    background-size: cover;
}

.icon-twitter {
    background-position: 0px center;
}

.icon-facebook {
    background-position: 210px center;
}

.icon-rss {
    background-position: 157px center;
}

.icon-fire {
    background-position: 102px center;
}

.icon-email {
    background-position: 50px center;
}


/* Black box */
.black-box {
    background: #111214;
    color: #a3a3a3;
    padding: 40px 30px;
}

/* News */
.content-box {
    padding: 0px 15px;
}

.news {
    background-color: #fff;
}

.news-item-thumb {
    border: 1px solid #e5e5e5;
}

.news-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #f3f3f3;
    background: #e9e9e9;
    padding: 4px;
}

.news {
    padding: 30px 30px 0;
}

.news-item {
    margin-bottom: 32px;
}

.news-item:after {
    content: '';
    width: 100%;
    display: block;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 20%, rgba(243, 243, 243, 1) 80%, rgba(255, 255, 255, 1) 100%);
    height: 2px;
}

.meta-line {
    margin-bottom: 5px;
}

.meta-line p {
    margin-bottom: 0;
    color: #61a2c4;
}

.news-item-body h3 {
    margin-bottom: 0;
}

.excerpt {
    font-size: 13px;
    line-height: 1.5;
}

.news-item-body {
    padding-bottom: 30px;
}

.cut-content>span {
    display: none;
}

.read-more-link {
    position: relative;
    margin-top: 15px;
    text-shadow: 1px -1px 1px #303030;
}

/* Sidebar */

.sidebar {
    padding: 30px;
    background: linear-gradient(to bottom, #f3f3f3, #fff);
}

.sidebar-element h3 {
    margin-bottom: 24px;
}

.sidebar-element {
    margin-bottom: 40px;
}

.sidebar-element ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-element ul li {
    font-size: 13px;
    margin-bottom: 5px;
}

/* Sponsor matrix */
.sponsor-matrix {
    background: #fff;
    padding: 45px 30px 20px;
}

.sponsor-matrix h3 {
    margin-bottom: 22px;
}

.sponsor-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: -5px;
    margin-right: -5px;
}

.sponsor {
    padding: 0 5px;
    margin-bottom: 10px;
}

.sponsor .sponsor-body {
    border: 4px #f7f7f7 solid;
    background-color: #fff;
    padding-top: 56.25%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.sponsor-1 .sponsor-body {
    background-image: url(../img/sponsor_1.png);
}

.sponsor-2 .sponsor-body {
    background-image: url(../img/sponsor_2.png);
}

.sponsor-3 .sponsor-body {
    background-image: url(../img/sponsor_3.png);
}

.sponsor-4 .sponsor-body {
    background-image: url(../img/sponsor_4.png);
}

.sponsor-5 .sponsor-body {
    background-image: url(../img/sponsor_5.png);
}

.sponsor-6 .sponsor-body {
    background-image: url(../img/sponsor_6.png);
}

.sponsor-7 .sponsor-body {
    background-image: url(../img/sponsor_7.png);
}

.sponsor-8 .sponsor-body {
    background-image: url(../img/sponsor_8.png);
}

.sponsor-9 .sponsor-body {
    background-image: url(../img/sponsor_9.png);
}

.sponsor-10 .sponsor-body {
    background-image: url(../img/sponsor_10.png);
}

.sponsor-11 .sponsor-body {
    background-image: url(../img/sponsor_11.png);
}

.sponsor-12 .sponsor-body {
    background-image: url(../img/sponsor_12.png);
}

.sponsor-13 .sponsor-body {
    background-image: url(../img/sponsor_13.png);
}

.sponsor-14 .sponsor-body {
    background-image: url(../img/sponsor_14.png);
}

.sponsor-15 .sponsor-body {
    background-image: url(../img/sponsor_15.png);
}

.sponsor-16 .sponsor-body {
    background-image: url(../img/sponsor_16.png);
}

.sponsor-17 .sponsor-body {
    background-image: url(../img/sponsor_17.png);
}

.sponsor-18 .sponsor-body {
    background-image: url(../img/sponsor_18.png);
}

.sponsor-19 .sponsor-body {
    background-image: url(../img/sponsor_19.png);
}

.sponsor-20 .sponsor-body {
    background-image: url(../img/sponsor_20.png);
}

.sponsor-21 .sponsor-body {
    background-image: url(../img/sponsor_21.png);
}

.sponsor-22 .sponsor-body {
    background-image: url(../img/sponsor_22.png);
}

/* Footer */
footer {
    padding-bottom: 100px;
}

.footer {
    background-color: #111214;
    padding: 30px 30px 42px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 13px;
}

.footer p {
    color: #6f6e6e;
    margin-bottom: 22px;
}

.footer p.bold,
.footer p.quote {
    color: #a3a3a3;
}

.footer p.bold {
    font-weight: 600;
    margin-bottom: 13px;
}

.contact-list {
    padding: 0;
    margin: 0 0 22px;
    list-style: none;
}

.contact-list li {
    color: #6f6e6e;
    font-size: 13px;
    margin-bottom: 8px;
}

.footer .social-icons {
    justify-content: flex-start;
}

/* Flickr */
.flickr-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.flickr-grid .sponsor .sponsor-body {
    padding-top: 100%;
    border: 1px solid #e5e5e5;
}


@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }

    .navbar {
        min-height: 110px;
    }

    .navbar-right .navbar-collapse {
        flex-direction: column;
        align-items: flex-end;
    }

}

@media screen and (max-width:768px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 22px;
    }

    .navbar {
        padding: 15px 0;
        height: auto;
    }

    .navbar-left {
        display: flex;
    }

    .navbar-brand {
        max-width: calc(50% - 55px);
    }

    .navbar-brand img {
        max-width: 100%;
    }

    .navbar-toggler {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background: rgba(255, 255, 255, .1);

    }

    .navbar-toggler-icon {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 5px;
    }

    .navbar-toggler-icon>div {
        background: #fff;
        width: 100%;
        display: block;
        height: 2px;
        position: relative;
    }

    .search-box {
        max-width: 100%;

    }

    .search-box input {
        height: 34px;
        font-size: 14px;
        padding: 0 28px;
    }

    .btn.btn-search {
        top: 7px;
        left: 5px;
        bottom: 0;
        height: 18px;
        width: 18px;
    }

    .nav-item {
        margin: 0 0 15px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }

    .black-box {
        padding: 30px 15px;
        text-align: left;
    }

    .social-icons {
        justify-content: space-around;
    }

    .news {
        padding: 15px 15px 0;
    }

    .news-item-thumb {
        margin-bottom: 15px;
    }

    .news-item-body h3 {
        margin-bottom: 5px;
    }

    .sidebar {
        padding: 15px;
    }

    .sponsor-matrix {
        padding: 20px 15px;
    }
}

@media screen and (max-width:375px) {

    p,
    a,
    .excerpt {
        font-size: 14px;
        line-height: 1.5;
    }

    .navbar-brand {
        max-width: calc(100% - 55px);
    }

    .btn.btn-search {
        top: 0px;

    }

    .black-box {
        text-align: center;
    }

    .black-box h2 {
        margin-bottom: 30px;
    }

    .sidebar-element ul li {
        font-size: 14px;
    }

    .flickr-grid {
        margin-bottom: 22px;
    }

    .footer .social-icons {
        justify-content: space-between;
    }
}